/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 600px;
    margin: 20px;
}

.input-section, .output-section {
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#encrypt-btn {
    background-color: #2d4dff;
    color: white;
}

#decrypt-btn {
    background-color: #ccc;
    color: black;
}

.output-section img {
    max-width: 100px;
    margin-bottom: 20px;
}

#output-message {
    font-size: 18px;
    color: #777;
}

/* Responsividad */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .input-section, .output-section {
        width: 48%;
    }
}
